/* #region main */

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #fff;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
a {
  color: inherit;
  text-decoration: none;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

button {
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  text-align: inherit;
  cursor: pointer;
}
img {
  display: block;
}
/* #endregion */
/* #region HEADER */
.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-hover {
  display: block;

  padding: 24px 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-logo {
  padding: 24px 0;
  margin-right: 76px;
}
.main-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.logo-dark {
  color: #2e2f42;
}

.nav-hover:hover,
.nav-hover:focus {
  color: #404bbf;
}

.nav-hover:active {
  text-decoration: underline;
}

.current {
  position: relative;
  color: #404bbf;
}

.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  position: absolute;
  background: #404bbf;
  bottom: -1px;
  position: absolute;
}

.address {
  font-style: normal;
  margin-left: auto;
}

.address-list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.address-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.address-hover {
  display: block;
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address-hover:hover,
.address-hover:focus {
  color: #404bbf;
}
/* #endregion */

/* #region hero section */
.section-one {
  padding: 188px 0;
  background-color: #2e2f42;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}
.hero-title {
  margin: 0 auto 48px;
  max-width: 496px;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.hero-button {
  display: block;
  min-width: 169px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: #4d5ae5;
  margin: 0 auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  background-color: #404bbf;
}
/* #endregion */
/* #region Adv */
.adv {
  padding: 120px 0;
}
.adv-wrapper {
  display: flex;
  padding: 24px 100px;
  background-color: #f4f4fd;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  max-width: 264px;
  height: 112px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
}
.adv-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
}

.adv-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.adv-list {
  display: flex;
  align-items: center;
  gap: 24px;
}
.adv-card {
  width: calc((100% - 72px) / 4);
}

/* #endregion */

/* #region team */
.our-team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-card {
  display: flex;
  align-items: center;
  gap: 24px;
}
.member-card {
  background-color: #fff;
  width: calc((100% / 3 * 24) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}
.team-member {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}
.member-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin-bottom: 8px;
}

.member-info {
  padding: 32px 0;
}

.socials {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.sm-icon {
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: var(--icon-bg, #4d5ae5);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}

.socials-icon {
  fill: #f4f4fd;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icon:hover {
  color: #4da792;
}

/* #endregion */
/* #region portfolio */
.portfolio-section {
  padding: 120px 0;
}
.portfolio-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.portfolio-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  padding: 40px 32px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  background-color: #4d5ae5;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-item {
  background-color: #fff;
  width: calc((100% - 2 * 24px) / 3);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay {
  transform: translateY(0);
}
.portfolio-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.portfolio-info {
  border: 1px solid #e7e9fc;
  border-top: none;
  padding: 32px 16px;
}
.portfolio-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 8px;
}
.portfolio-decr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* #endregion */

/* #region footer */
.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}
.container-footer {
  align-items: baseline;
}
.logo-footer {
  display: inline-block;
  margin-bottom: 16px;
}
.container-footer {
  display: flex;
}
.footer-webstudio {
  margin-right: 120px;
}
.footer-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

.footer-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.link-footer-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-footer-icon:hover,
.link-footer-icon:focus {
  background-color: #31d0aa;
}
.socials-footer-icon {
  display: flex;
  align-items: center;
  gap: 16px;
}

.footer-descr {
  max-width: 264px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}

.footer-socials {
  margin-right: 80px;
}

.footer-subscribe-place {
  display: flex;
  align-items: center;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-input {
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  padding: 8px 16px;
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #fff;
  width: 264px;
}
.footer-input::placeholder {
  color: #fff;
}
.footer-form-label {
  display: block;
  margin-bottom: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
}
.footer-btn-input {
  padding: 8px 24px;
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  background-color: #4d5ae5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;

  justify-content: center;
}

.button-icon-form {
  margin-left: 16px;
}

/* #endregion */
/* #region overlay */
.backdrop {
  background-color: rgba(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop:not(is-open) .modal {
  transform: translate(-50%, -50%);
}
.backdrop-btn {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  align-items: center;
  justify-content: center;
  min-width: 24px;
  min-height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop-btn:hover,
.backdrop-btn:focus {
  background-color: #404bbf;
  border: none;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop-btn:hover,
.backdrop-btn:focus .close-icon {
  fill: #ffffff;
}

.backdrop-descr {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.input-wrapper {
  margin-bottom: 8px;
}

.input-wrapper-last {
  margin-bottom: 16px;
}
.label-form-input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
  outline: transparent;
}

.inform-field:focus {
  border-color: #4d5ae5;
}

.inform-field {
  width: 100%;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  height: 40px;
  padding: 8px 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  outline: transparent;
}
.input-field {
  position: relative;
}
.input-icon {
  position: absolute;
  left: 16;
  top: 0;
  fill: #2e2f42;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  pointer-events: none;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.inform-field:focus + .input-icon {
  fill: #4d5ae5;
}
.modal-form-message {
  resize: none;
  border: 1px solid rgba(46, 47, 66, 0.4);
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  border-radius: 4px;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  border-color: #4d5ae5;
}
.modal-form-message::placeholder {
  color: rgba(46, 47, 66, 0.4);
}
.modal-button {
  text-align: center;
  padding: 16px 32px;
}
.accent-text {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}
.form-agreement {
  margin-bottom: 24px;
}
.agreement-checkbox {
  margin-right: 8px;
  display: inline-flex;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

input[type="checkbox"]:checked + .agreement-wrapper > .agreement-checkbox {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.agreement-checkbox-icon {
}

.agreement-wrapper {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
